* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
    color: seashell;

}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    color: seashell;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 3.13rem;
    width: 100%;
    background-color: black;
    border: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .09rem;
    z-index: 100;
}

.Logo  {
    display: flex;
    float: left;
    height: 3.136rem;
    align-items: center;
}

nav  {
    float: right;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
    display: block;
    margin-right: .45rem;
}

li a {
    text-decoration: underline;
    color: seashell;
}

.Mission {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    overflow: hidden;
    background-image: url(./Images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 31.82rem;
}

.Banner {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: auto;
    width: 54.54rem;
    opacity: 1;
}

.FeaturedTea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 45.45rem;
}

.BerryBlitz {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height:auto;
    width: 13.63rem;
}

.SpicedRum {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 13.63rem;
}

.Donuts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 13.63rem;
}

.Tea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 13.63rem;
    height: auto;
}

.BTea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 13.63rem;
}

.image-container {
    max-width: 100%;
    max-height: auto;
    display: flex;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.Locations {
    display: flex;
    flex-direction: row;
    background-image: url(./Images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 22.72rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
}

h2{
    text-align: center;
    width: 100%;
    padding: .2rem;
}

h4 {
    text-align: center;
    width: 100%;
    padding: .2rem;
    line-height: 1rem;
}

h3{
    padding: 1rem;
}

.GPS {
    display: flex;
    margin: .68rem 1.81rem;
    width: 13.63rem;
    background-color: black;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
}

.Footer {
    display: flex;
    height: 9.09rem;
    line-height: 2;
}

.contact {
    text-align: center;
}

.copyright {
    padding-left: .90rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    height: 2rem;
    width: 100%
    
}

.icon {
    padding-left: .5rem;
    max-width: 1rem;
}